# Application
NODE_ENV=development
PORT=4000

# MongoDB
MONGODB_URL=mongodb://localhost:27017/kanban
MONGO_INITDB_DATABASE=kanban

# CORS
CORS_ORIGIN=http://localhost:3000

# Add any additional environment variables here
# JWT_SECRET=
# REDIS_URL=
# etc... 